body {
    text-align: center;
    font-family: Arial, sans-serif;
}
  
#cardGrid {
    margin: 20px auto;
}
  
#moves {
    margin-top: 20px;
    font-size: 18px;
}
  
#cardGrid > div {
    display: inline-block;
    margin: 6px;
    font-size: 50px;
    cursor: pointer;
}
  